// DatePicker
.datePicker {
  position: relative;
}

.popup {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
}

// DatePickerPopupContent
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 600px;
  height: 600px;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.calendarPanelItem {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 4px;
  cursor: pointer;
}

.calendarPanelItemToday {
  color: red;
}

.calendarPanelItemDate {
  display: flex;
  justify-content: center;
  width: 25px;
  border-radius: 50%;
  padding: 4px;
}

.calendarPanelItemSelected .calendarPanelItemDate {
  background: red;
  color: white;
}

.calendarPanelItemNotCurrent .calendarPanelItemDate {
  opacity: 0.5;
}

.buttons {
  display: flex;
  gap: 8px;
  margin: 12px 0;
}

.button {
  padding: 3px 5px;
  border-radius: 5px;
  background: lightgray;
  cursor: pointer;

  &:active {
    background: #f3f1f1;
  }
}
